<div class="menu">
    <a class="u-url" href="https://twitter.com/ajspadial" target="_blank" rel="external me">twitter</a>
    ·
    <a class="u-url" href="https://linkedin.com/li/ajspadial" target="_blank" rel="external me">linkedin</a>
    ·
    <a class="u-url" href="https://github.com/ajspadial" target="_blank" rel="external me">github </a>
    ·
    <a class="u-url" href="https://scholar.google.es/citations?user=Z5lx1_0AAAAJ" target="_blank" rel="external me">google scholar</a>
    ·
    <a class="u-url" href="https://orcid.org/0000-0001-9532-3133" target="_blank" rel="external me">orcid</a>
    ·
    <a class="u-url" href="https://publons.com/researcher/1487009/antonio-j-sanchez-padial/" target="_blank" rel="external me">publons</a>
    ·
    <a class="u-url" href="https://lichess.org/@/ElPadial" target="_blank" rel="external me">lichess</a>
</div>